.sidebar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.button {
    position: relative;
    padding: 1rem;
    font-size: 1rem;
    background-color: var(--tertiary-color);
    color: var(--quinary-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.button:hover {
    background-color: var(--cuaternary-color);
}

.button::after {
    color: var(--quinary-color);
    content: attr(data-tooltip);
    position: absolute;
    top: 50%;
    left: 110%;
    transform: translateY(-50%);
    background-color: var(--secondary-color);
    color: var(--quinary-color);
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.button:hover::after {
    opacity: 1;
    visibility: visible;
}

.info {
    margin-top: 2rem;
    padding: 1rem;
    background-color: var(--cuaternary-color);
    color: var(--primary-color);
    font-size: 0.9rem;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}